.box-main{
    width: 100%;
    min-height: 100px;
}
.header{
    height: 60px;
    background-color: rgb(129, 126, 126);
    position: relative;
}
.box1{
    height: 40px;
    width: 180px;
    position: absolute;
    top: 10px;
    left: 70px;
}
.box2{
    height: 30px;
    width: 400px;
    position: absolute;
    top: 15px;
    left: 600px;
}
.search input{
    height: 30px;
    width: 400px;
    border-radius: 1px;
    margin: 0;    
}

.main-menu {
    font-size: 20px;
    text-align: center;
    background: #ddd;
    height: 50px;
    padding: 10px;  
}
.main-menu ul li{
    display: inline-block;
}
.main-menu ul:hover li{
    text-decoration: underline;
}
ul li:hover a{
    background-color: rgb(238, 238, 238);
}

.main-menu ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 20px; 
}
.sub-menu{
    text-align:left;
    display: none;
    padding: 20px;
}
.main-menu li {
    position: relative;
}
.main-menu li:hover .sub-menu{
    display: block;
    background-color: rgb(238, 238, 238);
}
.main-menu li .sub-menu{
    position: absolute;
    top: 20;
    left: 0;
}
.main-menu .sub-menu li {
    display: block;
    width: 250px;
    padding: 20px 0;
}
h2{
    font-size: 35px;
}
.box{
    width: 100%;
    min-height: 1200px;
    background-color: rgb(154, 209, 167);
    float:left;
}
.box7{
    box-shadow: 2px 2px 2px black;
    top: 250px;
    left: 40px;
    position: absolute;
    height: 300px;
    width: 250px;
    text-align: center;
    font-size: 17px;
}
.box8{
    box-shadow: 2px 2px 2px black;
    top: 250px;
    left: 320px;
    position: absolute;
    height: 300px;
    width: 250px;
    text-align: center;
    font-size: 17px;
}
.box9{
    box-shadow: 2px 2px 2px black;
    top: 250px;
    left: 610px;
    position: absolute;
    height: 300px;
    width: 250px;
    text-align: center;
    font-size: 17px;
}
.box10{
    box-shadow: 2px 2px 2px black;
    top: 250px;
    left: 900px;
    position: absolute;
    height: 300px;
    width: 250px;
    text-align: center;
    font-size: 17px;
}
.box11{
    box-shadow: 2px 2px 2px black;
    top: 250px;
    left: 1190px;
    position: absolute;
    height: 300px;
    width: 250px;
    text-align: center;
    font-size: 17px;
}
.box12{
    box-shadow: 2px 2px 2px black;
    top: 650px;
    left: 40px;
    position: absolute;
    height: 300px;
    width: 250px;
    text-align: center;
    font-size: 17px;
}
.box13{
    box-shadow: 2px 2px 2px black;
    top: 650px;
    left: 320px;
    position: absolute;
    height: 300px;
    width: 250px;
    text-align: center;
    font-size: 17px;
}
.box14{
    box-shadow: 2px 2px 2px black;
    top: 650px;
    left: 610px;
    position: absolute;
    height: 300px;
    width: 250px;
    text-align: center;
    font-size: 17px;
}
.box15{
    box-shadow: 2px 2px 2px black;
    top: 650px;
    left: 900px;
    position: absolute;
    height: 300px;
    width: 250px;
    text-align: center;
    font-size: 17px;
}
.box16{
    box-shadow: 2px 2px 2px black;
    top: 650px;
    left: 1190px;
    position: absolute;
    height: 300px;
    width: 250px;
    text-align: center;
    font-size: 17px;
}
.box17{
    top: 20px;
    left: 20px;
    position: absolute;
    height: 250px;
    width: 1450px;
}
.box18{
    box-shadow: 2px 2px 2px black;
    top: 1000px;
    left: 40px;
    position: absolute;
    height: 300px;
    width: 250px;
    text-align: center;
    font-size: 17px;
}
.box19{
    box-shadow: 2px 2px 2px black;
    top: 1000px;
    left: 320px;
    position: absolute;
    height: 300px;
    width: 250px;
    text-align: center;
    font-size: 17px;
}
.box20{
    box-shadow: 2px 2px 2px black;
    top: 1000px;
    left: 610px;
    position: absolute;
    height: 300px;
    width: 250px;
    text-align: center;
    font-size: 17px;
}
.box21{
    box-shadow: 2px 2px 2px black;
    top: 1000px;
    left: 900px;
    position: absolute;
    height: 300px;
    width: 250px;
    text-align: center;
    font-size: 17px;
}
.box22{
    box-shadow: 2px 2px 2px black;
    top: 1000px;
    left: 1190px;
    position: absolute;
    height: 300px;
    width: 250px;
    text-align: center;
    font-size: 17px;
}

footer{
    text-align: center;
    font-size: 20px;
    width: 100%;
    background-color: antiquewhite;
    color: brown;
}
footer .footer-item{
    width: 30%;
    display: inline-block;
}

footer .footer-item h3{
    margin: 20px 0;
}

footer .link a{
    display: block;
    text-decoration: none;
    color: #000;
    margin: 10px 0;
}
.footer-item a:hover{
    color: rgb(255, 0, 0);
    text-decoration: underline;
}